.home {
  padding-top: 2rem;
  background: url("./bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.home h2 {
  color: #f8f8f8;
}
.home button {
  margin-bottom: 3rem;
}
